:root {
  --brand-color: #2196f3;
  --accent-color: black;
  --text-color: #757575;
  --letter-color: #ffffff;
  --background-color: #f5f4fa;
  --footer-color: #2f303a;
}
body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*-------------------HEADER-------------------*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.logo-dark {
  color: var(--accent-color);
}
.logo-light {
  color: var(--letter-color);
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.nav-item:hover,
.nav-item:focus {
  color: var(--brand-color);
}
.nav-item.link.current {
  color: var(--brand-color);
}

/*-----------CONTACTS-----------*/

.contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--brand-color);
}

/*----------HERO------------*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--letter-color);
}
.hero-button {
  background-color: var(--brand-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--letter-color);
}
.hero-button:hover,
.hero-button:active {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*----------FEATURES------------*/
.ghost {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--text-color);
}
/*---------WORKS------------*/
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
/*---------TEAM------------*/
.team-section {
  background-color: var(--background-color);
}
.section-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*----------ADDRESS-----------*/

.footer {
  background-color: var(--footer-color);
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-map {
  color: var(--letter-color);
}
.address-map:hover,
.address-map:focus {
  color: var(--brand-color);
}
.address-mail {
  color: rgba(255, 255, 255, 0.6);
}
.address-mail:hover,
.address-mail:focus {
  color: var(--brand-color);
}
.address-tel {
  color: rgba(255, 255, 255, 0.6);
}
.address-tel:hover,
.address-tel:focus {
  color: var(--brand-color);
}

/*------------FILTERS--------------*/

.btn-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  background: #f5f4fa;
  color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.btn-item:hover,
.btn-item:active {
  font-family: inherit;
  letter-spacing: 0.03em;
  color: var(--letter-color);
  background: var(--brand-color);
}
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}
.gallery-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
